main, html, body {
    background-color: lightgray;
    font-family: 'Exo 2', sans-serif;
}

.description {
    margin: 0;
}
#first {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: black;
}

#name {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-bottom: 0;
}

#name span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-bottom: 0;
}

#surname {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom: 1%;
}

#surname span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:1%;
}

#what-search {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom:0;
}

#what-search span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:0;
}
.main-div {
    background-color: ghostwhite;
    margin-top: 65px;
    margin-left: 15%;
    margin-right: 15%;
    height: 500px;
}

.circular img {
    border: 7px solid lightgray;
    border-radius: 150px;
    margin-top: -35px;
    position: relative;
}

.decoration {
    width: 50%;
    height: 1px;
    background-color: darkslategrey;
    position: relative;
    margin: 2% auto;
    border-radius: 50%;
}

.left-column {
    border: 1px solid red;
}

.right-column {
    border: 1px solid blue;
}

.langs-known {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px grey;
}




