main, html, body {
    background-color: lightgray;
    font-family: 'Exo 2', sans-serif;
}

.description {
    margin: 0;
}
#first {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: black;
}

#name {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-bottom: 0;
}

#name span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-bottom: 0;
}

#surname {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom: 1%;
}

#surname span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:1%;
}

#what-search {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom:0;
}

#what-search span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:0;
}
.main-div {
    background-color: ghostwhite;
    margin-top: 65px;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

.circular img {
    border: 7px solid lightgray;
    border-radius: 150px;
    margin-top: -35px;
    position: relative;
}

.decoration {
    width: 50%;
    height: 1px;
    background-color: darkslategrey;
    position: relative;
    border-radius: 50%;
    margin: 30px auto;

}
.col-sm-6 p {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px darkslategray;
    text-decoration: underline;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
}

.what-known {
    border: none;
    border-radius: 15px;
    background-color: darkslategray;
    width: 92%;
    height: 100%;
    margin: 0 auto;
    color:ghostwhite;
    position: relative;
}

.what-known:hover {
    background-color: lightslategrey;
    border: none;
    position: relative;
}

.what-known-description img {
    margin: 25px;
    border-radius: 6px;
    position: relative;
}

.what-known-description-text text {
    display: block;
    position: relative;
    left: 100px;
    bottom: 85px;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.what-known-description-text small {
    display: block;
    position: relative;
    left: 100px;
    bottom: 105px;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}






