main, html, body {
    background-color: lightgray;
    font-family: 'Exo 2', sans-serif;

}
.row {
    margin-bottom: 1.1em;
}
.description {
    margin: 0;
}
#first {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: black;
}

#name {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-bottom: 0;
}

#name span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-bottom: 0;
}

#name span:hover {
    font-size: 16px;
    border-bottom: 1px solid darkslategray;
    border-spacing: 1px;

}
#surname {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom: 1%;
}

#surname span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:1%;
}

#surname span:hover {
    font-size: 16px;
    border-bottom: 1px solid darkslategray;
    border-spacing: 1px;
}

#what-search {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom:0;
}

#what-search span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:0;
}

#what-search span:hover {
    font-size: 16px;
    border-bottom: 1px solid darkslategray;
    border-spacing: 1px;

}
.main-div {
    background-color: ghostwhite;
    margin-top: 65px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    height: 100%;
    border-radius: 30px;
    position: relative;
}

.circular img {
    border: 7px solid lightgray;
    border-radius: 150px;
    margin-top: -35px;
    position: relative;
}

.decoration {
    width: 50%;
    height: 1px;
    background-color: darkslategrey;
    position: relative;
    border-radius: 50%;
    margin: 30px auto;
}

.main-p {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px darkslategray;
    text-decoration: underline;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
}

.first-lang {
    display: inline-block;
    position: absolute;
    left: 1%;
}
.second-lang {
    display: inline-block;
    position: absolute;
    right: 8%;
}

.third-lang {
    display: inline-block;
    position: absolute;
    left: 1%;
    top: 53%;
}

.fourth-lang {
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 53%;
}

.what-known {
    border: none;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, #677891, lightslategrey);
    width: 90%;
    height: 213px;
    margin: 0 auto;
    color: ghostwhite;
    position: relative;
}

.what-known:hover {
    background-image: repeating-linear-gradient(90deg, lightslategrey, #677891);
    border: none;
    border-radius: 15px;
    position: relative;
    width: 90%;
    height: 213px;
    margin: 0 auto;
    color: ghostwhite;
}

.what-known-description {
    height: 100%;
    display: block;
    position: relative;
}

.what-known-description img {
    margin: 15px;
    border-radius: 6px;
    position: absolute;
}

.what-known-description-text {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
}

.description-p {
    margin: 0;
    font-size: 11px;
    font-weight: bolder;
    color: ghostwhite;
    /*text-shadow: 1px 1px 1px grey;*/
}
.what-known-description-text-inside {
    font-size: 8px;
    text-shadow: 1px 1px 1px grey;
    height: 100%;
}

.what-known-languages {
    border: none;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, #677891, lightslategrey);
    width: 90%;
    height: 88px;
    margin: 0 auto;
    color: ghostwhite;
    position: relative;
}

.what-known-languages:hover {
    background-image: repeating-linear-gradient(90deg, lightslategrey, #677891);
    border: none;
    border-radius: 15px;
    position: relative;
    width: 90%;
    height: 88px;
    margin: 0 auto;
    color: ghostwhite;
}

.foreign-languages {
    border: none;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, #677891, lightslategrey);
    width: 90%;
    height: 88px;
    margin-top: 0px;
    margin-bottom:0;
    margin-right: auto;
    margin-left: auto;
    color: ghostwhite;
    position: relative;

}

.foreign-languages:hover {
    background-image: repeating-linear-gradient(90deg, lightslategrey, #677891);
    border: none;
    border-radius: 15px;
    position: relative;
    width: 90%;
    height: 88px;
    margin: 0 auto;
    color: ghostwhite;
}

.flag {
    max-width: 70px;
    max-height: 70px;
}

.extra-infos {
    margin-top: 10px;
}

.infoshare {
    max-width: 80px;
    left: 1%;
}

.delf {
    max-width: 60px;
    right: 15%;

}

.front-end, .diplome {
    padding-top: 78px;
    padding-left: 5px;
    padding-right: 0;
    font-size: 11px;
    font-weight: bolder;
    color: ghostwhite;

}

.infos {
    border: none;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, #677891, lightslategrey);
    width: 90%;
    height: 120px;
    margin-top: 0;
    margin-bottom:0;
    margin-right: auto;
    margin-left: auto;
    color: ghostwhite;
    position: relative;

}

.infos:hover {
    background-image: repeating-linear-gradient(90deg, lightslategrey, #677891);
    border: none;
    border-radius: 15px;
    position: relative;
    width: 90%;
    height: 120px;
    margin-top: 0;
    margin-bottom:0;
    margin-right: auto;
    margin-left: auto;
    color: ghostwhite;
}

.hobby {
    position: relative;
    left: 8%;
    width: 90%;

}

.programming {
    display: inline-block;
}

.programming-icon {
    max-width: 30px;
    top: 10px;
    left: 15px;
    position: absolute;
}

.programming p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    left: 60px;
    top: 15px;
    position: absolute;
}

.sport {
    display: inline-block;
    }

.sport-icon {
    max-width: 30px;
    position: absolute;
    top: 10px;
    right: 75px;
}

.sport p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    position: absolute;
    top: 15px;
    right: 8%;
    /*float: left;*/
}


.travelling-icon {
    max-width: 30px;
    position: absolute;
    top: 45px;
    left: 15px;
}

.travelling p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    left: 60px;
    top: 50px;
    position: absolute;
}

.music {
    display: inline-block;
}

.music-icon {
    max-width: 24px;
    position: absolute;
    top: 45px;
    right: 79px;
}

.music p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    position: absolute;
    top: 50px;
    right: 4.5%;
}

.learning-foreign-languages {
    display: inline-block;
}

.languages-icon {
    max-width: 30px;
    top: 80px;
    left: 15px;
    position: absolute;
}

.learning-foreign-languages p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    left: 60px;
    top: 85px;
    position: absolute;
}

.dance {
    display: inline-block;
}

.dance-icon {
    max-width: 24px;
    position: absolute;
    top: 80px;
    right: 79px;
}

.dance p {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
    right: 7%;
    top: 85px;
    position: absolute;
}

.sheet {
    border: 1px solid #0b1361;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, #677891, lightslategrey);
    width: 95%;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    /*color: ghostwhite;*/
    position: relative;
}

.sheet p {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px darkslategray;
    text-decoration: underline;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.sheet span {
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px ghostwhite;
    position: relative;
}

input.form-control {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
}

input.form-control:active {
    border: 1px solid #0b1361;
}

textarea.form-control {
    max-width: 90%;
    min-height: 100px;
    max-height: 100px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
}

label {
    padding-left: 5%;
}

.buttons {
    margin-left: 5%;
    margin-bottom: 20px;
}


