main, html, body {
    background-color: lightgray;
    font-family: 'Exo 2', sans-serif;
}

.description {
    margin: 0;
}
#first {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: black;
}

#name {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-bottom: 0;
}

#name span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-bottom: 0;
}

#surname {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom: 1%;
}

#surname span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:1%;
}

#what-search {
    /*font-weight: bold;*/
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #DFDFDF;
    margin-top:1%;
    margin-bottom:0;
}

#what-search span {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: darkslategray;
    margin-top:1%;
    margin-bottom:0;
}
.main-div {
    background-color: ghostwhite;
    margin-top: 65px;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    border-radius: 30px;
}

.circular img {
    border: 7px solid lightgray;
    border-radius: 150px;
    margin-top: -35px;
    position: relative;
}

.decoration {
    width: 50%;
    height: 1px;
    background-color: darkslategrey;
    position: relative;
    border-radius: 50%;
    margin: 30px auto;
}

.main-p {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px darkslategray;
    text-decoration: underline;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
}

.first-lang {
    display: inline-block;
    margin-left: 20px;
}
.second-lang {
    display: inline-block;
    position: absolute;
    right: 50px;
}

.what-known {
    border: none;
    border-radius: 15px;
    background-image: repeating-linear-gradient(90deg, darkslategrey, lightslategrey);
    width: 88%;
    height: 100%;
    margin: 0 auto;
    color:ghostwhite;
    position: relative;
}

.what-known:hover {
    background-image: repeating-linear-gradient(90deg, lightslategrey, darkslategrey);
    border: none;
    border-radius: 15px;
    position: relative;
    width: 88%;
    height: 100%;
    margin: 0 auto;
    color:ghostwhite;
}

.what-known-description {
    height: 91px;
}

.what-known-description img {
    margin: 15px;
    border-radius: 6px;
    position: absolute;
}

.what-known-description-text {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 90px;
}

.description-p {
    margin: 0;
    font-size: 11px;
    font-weight: bolder;
    color: ghostwhite;
    /*text-shadow: 1px 1px 1px grey;*/
}
.what-known-description-text-inside {
    font-size: 8px;
    text-shadow: 1px 1px 1px grey;
    height: 100%;
}








